README.md
**/.git/
.gitignore
.gitattributes
.DS_Store
.dockerignore
Dockerfile
**/build
**/src-gen
**/target
.gradle/caches/modules-2/files-2.1/com.jetbrains.intellij.idea/ideaIC/
*.tar.gz
build-archive
gradle/
gradlew
gradlew.bat
